@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

body{
   height: 95vh;
   width: 95;
   display: flex; 
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: black;
   font-family: 'Zen Loop', cursive;
   font-size: 20px;
}

#divMenu{
   float: left;
   text-align: center;
   margin-right: 20px;
   width: 150px;
   margin-bottom: 20px;
   background-color: whitesmoke;
}
#divCanvas{
   margin: 20px;
}
#divMenu p{
   text-align: center;
}